*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;

}
.main-wrapper{
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #978b8b;

  &__sync-blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    h2{
      font-size: 2rem;
      margin-top: 3rem;
    }

    form{
      display: flex;
      flex-direction: column;
      label{
        font-size: 3rem;
        margin-top: 1rem;
      }
      input{
        font-size: 3rem;

        &:focus{
          outline: none;
        }
      }
      button{
        cursor: pointer;
        font-size: 3rem;
        margin-top: 1rem;
      }
    }
  h3{
  font-size: 3rem;
  margin-top: 2rem;
  }

  }

  &__async-blog{
    width: 50%;
    display: flex;
    flex-direction: column;

    h3{
      display: flex;
      font-size: 3rem;
      margin-top: 2rem;
    }

    .bnt-wrapper{
      display: flex;

      span{
        font-size: 3rem;
        display: flex;
      }
      button{
        width: 5rem;
        height: 3rem;
        font-size: 2rem;
        margin-left: 3rem;
        cursor: pointer;
      }
    }

    button{
      height: 3rem;
      font-size: 2rem;
      cursor: pointer;
    }

  }
}
.post{
  display: flex;
  flex-direction: column;
  border: 2px dashed #d22c2c;
  width: 100%;
  height: 10vh;
  cursor: pointer;
  margin: 3rem 0;
  h2{
    display: flex;
    font-size: 2rem;
  }
  h3{
    display: flex;
    font-size: 2rem;
  }
  button{
    display: flex;
    font-size: 2rem;
  }
}

